{% extends 'base.html.twig' %}

{% block title %}Livreur{% endblock %}

{% block body %}
    <h1>Livreur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idlivreur</th>
                <td>{{ livreur.idlivreur }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_livreur_index') }}">back to list</a>

    <a href="{{ path('app_livreur_edit', {'idlivreur': livreur.idlivreur}) }}">edit</a>

    {{ include('livreur/_delete_form.html.twig') }}
{% endblock %}
