{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Welcome And Thanks For Choosing Us</h1>

    {{ include('user/_form.html.twig') }}

   
{% endblock %}
